<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<head>
<link rel="stylesheet" type="text/css" href="../../../resources/css/base.css" th:href="@{/resources/css/base.css}" />
<link rel="stylesheet" type="text/css" href="../../../resources/css/header.css" th:href="@{/resources/css/header.css}" />
<link rel="stylesheet" type="text/css" href="../../../resources/css/menu.css" th:href="@{/resources/css/menu.css}" />
<link rel="stylesheet" type="text/css" href="../../../resources/css/body.css" th:href="@{/resources/css/body.css}" />
<link tiles:fragment="css" rel="stylesheet" type="text/css" href="../../../resources/css/admin.css" th:href="@{/resources/css/admin.css}" />
<link rel="stylesheet" type="text/css" href="../../../resources/css/footer.css" th:href="@{/resources/css/footer.css}" />
</head>
<body>
	<div id="main" tiles:fragment="content">
		<div id="mainbackground">
			<div class="container">
				<div id="content">
					<ul id="onglets">
						<li th:text="#{admin.form.distillery.title}">Distillerie</li>
						<li th:text="#{admin.form.bottle.title}">Bouteille</li>
						<li th:text="#{admin.form.review.title}">Évaluation</li>
					</ul>
					<div id="distillery-form" class="form">
						<span class="titre" th:text="#{admin.form.distillery.title}">Distillerie</span>
						<form action="#" th:action="@{/admin/distillery/}" th:object="${distillery}" method="POST">
							<label for="name" th:text="#{admin.form.name.label}">Nom:</label><span class="required">*</span>
							<input type="text" id="name" name="name" value="" required="required" th:field="*{name}"/>
							<label for="yearEstablished" th:text="#{admin.form.distillery.yearEstablished.label}">Année de création:</label>
							<input type="number" id="yearEstablished" name="yearEstablished" value="" th:field="*{yearEstablished}" min="0"/>
							<label for="country" th:text="#{admin.form.distillery.country.label}">Pays:</label>
							<input type="text" id="country" name="country" value="" th:field="*{country}"/>
							<label for="region" th:text="#{admin.form.distillery.region.label}">Région:</label>
							<input type="text" id="region" name="region" value="" th:field="*{region}"/>
							<label for="logo" th:text="#{admin.form.logo.label}">Logo:</label>
							<input type="text" id="logo" name="logo" value="" th:field="*{logo}"/>
							<label for="hyperlink" th:text="#{admin.form.distillery.hyperlink.label}">Site web:</label>
							<input type="text" id="hyperlink" name="hyperlink" value="" th:field="*{hyperlink}"/>
							<label for="history" th:text="#{admin.form.history.label}">Présentation:</label>
							<textarea id="history" name="history" th:field="*{history}"></textarea>
							<input id="submit-button" type="submit" value="Sauvegarder" th:value="#{admin.form.submit.value}"/>
						</form>
					</div>
					<div id="bottle-form" class="form">
						<span class="titre" th:text="#{admin.form.bottle.title}">Bouteille</span>
						<form action="#" th:action="@{/admin/bottle/}" th:object="${bottle}" method="POST">
							<label for="name" th:text="#{admin.form.name.label}">Nom:</label><span class="required">*</span>
							<input type="text" id="name" name="name" value="" required="required" th:field="*{name}"/>
							<label for="distillery" th:text="#{admin.form.bottle.distillery.label}">Distillerie:</label><span class="required">*</span>
							<select id="distillery" th:field="*{distillery}">
				                <option value="" th:text="#{admin.form.select.prompt}">Choisir</option>
				                <option th:each="dist : ${distilleries}" th:value="${dist.id}" th:text="${dist.name}" />
				            </select>
							<label for="type" th:text="#{admin.form.bottle.type.label}">Type:</label>
							<input type="text" id="type" name="type" value="" th:field="*{type}"/>
							<label for="subtype" th:text="#{admin.form.bottle.subtype.label}">Sous type: </label>
							<input type="text" id="subtype" name="subtype" value="" th:field="*{subtype}"/>
							<label for="bottler" th:text="#{admin.form.bottle.bottler.label}">Embouteilleur:</label>
							<input type="text" id="bottler" name="bottler" value="" th:field="*{bottler}"/>
							<label for="age" th:text="#{admin.form.bottle.age.label}">Âge:</label>
							<input type="number" id="age" name="age" value="" th:field="*{age}" min="0"/>
							<label for="abv" th:text="#{admin.form.bottle.abv.label}">Abv:</label>
							<input type="number" id="abv" name="abv" value="" th:field="*{abv}" min="0"/>
							<label for="finish" th:text="#{admin.form.bottle.finish.label}">Finish:</label>
							<input type="text" id="finish" name="finish" value="" th:field="*{finish}"/>
							<label for="priceStore" th:text="#{admin.form.bottle.priceStore.label}">Prix:</label>
							<input type="number" id="priceStore" name="priceStore" value="" th:field="*{priceStore}" min="0" pattern="^\d+(\.|\,)\d{2}$" step="0.25"/>
							<label for="logo" th:text="#{admin.form.logo.label}">Logo: </label>
							<input type="text" id="logo" name="logo" value="" th:field="*{logo}"/>
							<label for="history" th:text="#{admin.form.history.label}">Présentation: </label>
							<textarea id="history" name="history" th:field="*{history}"></textarea>
							<input id="submit-button" type="submit" value="Sauvegarder" th:value="#{admin.form.submit.value}"/>
						</form>
					</div>
					<div id="review-form" class="form">
						<span class="titre" th:text="#{admin.form.review.title}">Évaluation</span>
						<form action="#" th:action="@{/admin/review/}" th:object="${review}" method="POST">
							<label for="author" th:text="#{admin.form.author.label}">Auteur:</label><span class="required">*</span>
							<input type="text" id="author" name="author" value="" required="required" th:field="*{author}"/>
							<label for="bottle" th:text="#{admin.form.review.bottle.label}">Bouteille:</label><span class="required">*</span>
							<select id="bottle" th:field="*{bottle}">
				                <option value="" th:text="#{admin.form.select.prompt}">Choisir</option>
				                <option th:each="bot : ${bottles}" th:value="${bot.id}" th:text="${bot.name}" />
				            </select>
				            <label for="rating" th:text="#{admin.form.review.rating.label}">Note:</label><span class="required">*</span>
				            <input type="number" id="rating" name="rating" value="" th:field="*{rating}" required="required" min="0" pattern="^\d+(\.|\,)\d{1}$" step="0.1"/>
				            <label for="notes" th:text="#{admin.form.review.notes.label}">Description: </label>
							<textarea id="notes" name="notes" th:field="*{notes}"></textarea>
							<input id="submit-button" type="submit" value="Sauvegarder" th:value="#{admin.form.submit.value}"/>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="http://code.jquery.com/jquery-1.10.1.min.js" th:remove="all"></script>
	<script tiles:fragment="scripts">
		$("li").click(function () {
	      $(this).toggleClass("test");
	    });
	</script>
</body>
</html>