<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<head>
<link rel="stylesheet" type="text/css" href="../../../resources/css/base.css" th:href="@{/resources/css/base.css}" />
<link rel="stylesheet" type="text/css" href="../../../resources/css/header.css" th:href="@{/resources/css/header.css}" />
<link rel="stylesheet" type="text/css" href="../../../resources/css/menu.css" th:href="@{/resources/css/menu.css}" />
<link rel="stylesheet" type="text/css" href="../../../resources/css/body.css" th:href="@{/resources/css/body.css}" />
<link tiles:fragment="css" rel="stylesheet" type="text/css" href="../../../resources/css/club.css" th:href="@{/resources/css/club.css}" />
<link rel="stylesheet" type="text/css" href="../../../resources/css/footer.css" th:href="@{/resources/css/footer.css}" />
</head>
<body>
	<div id="main" tiles:fragment="content">
		<div id="mainbackground">
			<div class="container">
				<div id="content">
					<span class="titre">le club</span>
					<p>
						Le Club de Scotch Whisky de Québec est un organisme à but non lucratif voué au partage des connaissances
						et à la promotion des Scotchs, Whiskys, Bourbons et autres spiritueux. Tous sont bienvenus, autant les
						novices que les amateurs et peuvent en devenir membre (18 ans et plus!). Les activités sont principalement
						constituées d'ateliers, dégustations et séminaires animés par des experts ou par des invités de l'industrie.
						Vous y rencontrerez des gens enthousiastes et passionnés, partageant avec vous le même désir de s'initier
						ou de parfaire leurs connaissances du grand et merveilleux monde des Scotchs, Whiskys, Bourbons et spiritueux.
					</p>
					<p>
						<b>NOUVEAU</b>
					</p>
					<p>
						Compte tenu de la popularité croissante du Club, l'adhésion de nouveaux membres ne sera possible qu'en décembre 
						et janvier seulement et en nombre limité.
					</p>
					<p>
						Les membres 2012 peuvent toujours renouveler leur adhésion 2013 au coût de 50$. Les membres en règle peuvent en 
						tout temps inviter un ami ou un parent à se joindre au Club au coût de 60$. Veuillez écrire à 
						<a href="mailto:patrick.bourassa@quebecwhisky.com">Patrick Bourassa</a> pour obtenir le lien Paypal.
					</p>				
					<p>
						Aussi, notez que chaque membre se doit d’apporter ses propres verres pour les dégustations. Vous pouvez utiliser
						les verres de votre choix, mais nous recommandons l’achat de 6 verres « Glencairn », qui est le verre officiel
						du Club. Ces verres sont disponibles chez Vinum Grappa, sur la rue Maguire à Québec. Les membres en règle peuvent
						bénéficier d’un tarif réduit de 30$, au lieu de 60$, pour l’ensemble de 6. De plus, les membres profitent d’un
						rabais de 15% sur toute la marchandise en magasin, à l’exception des celliers.
					</p>
					<p>
						Le Club est un organisme à but non lucratif et est géré par des bénévoles. Veuillez noter que des frais 
						additionnels s'appliqueront lors des différentes activités selon le coût des achats à couvrir, le type d'évènement,
						le nombre de personnes, etc. Veuillez noter que ces frais représentent uniquement les coûts de formation 
						location salle, frais administratifs, etc).
					</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>

