#onglets {
	background-color: rgba(0,0,0,0.7);
	width: 465px;
	padding: 20px;
	margin: auto;
	margin-bottom: 15px;
	text-align: center;
}

#onglets li {
	display: inline-block;
	padding: 0 10px;
}

.test {
	background-color: rgba(161,73,9,0.7);
}

#onglets li:active {
	position: relative;
	top: 1px;
}

form .required {
	font-weight: bold;
	color: #F00;
}

div .form {
	background-color: rgba(0,0,0,0.7);
	width: 465px;
	padding: 20px;
	margin: auto;
	position: relative;
}

div .form input,
div .form select,
div .form textarea,
div .form label {
	margin-bottom: 2px;
}

div .form input,
div .form select,
div .form textarea {
	width: 450px;
	border: 1px solid #CEE1E8;
	margin-bottom: 20px;
	padding: 4px;
}

div .form textarea {
	height: 150px;
	margin-bottom: 20px;
	resize: none;
}

div .form #submit-button {
	width: 100px;
	background-color: rgba(161,73,9,0.7);
	color: #FFF;
	border: none;
	display: block;
	float: right;
	margin-bottom: 20px;
	margin-right: 6px;
}

div .form #submit-button:hover {
	background-color: #F9A11C;
}

div .form #submit-button:active {
	position: relative;
	top: 1px;
}

#distillery-form span.titre,
#bottle-form span.titre {
	padding: 0px;
}

#distillery-form {
	height: 655px;
	margin-bottom: 20px;
}

#bottle-form {
	height: 925px;
	margin-bottom: 20px;
}