/* titre de toutes les sections */
div.title {
	margin-bottom: 20px;
	font: bold 1.3em candara, sans-serif;
	text-transform: uppercase;
}

/* Activités */
#next_activity {
	padding: 20px 0px 30px 30px;
	width: 410px;
	background: url(../images/body/indicator.png) no-repeat 5px 5px, rgba(0,0,0,0.7);
}

#activity {
	padding-bottom: 10px;
}

#activity a {
	color: #FFFFFF;
	padding-right: 15px;
	background: url(../images/body/white_arrow.png) no-repeat 100% 50%;
}

#activity span.date {
	color: #F9A11C; /*E08E10*/
}

#activity span.categorie {
	font: bold 1.0em candara, sans-serif;
}

/* Nouvelles */
#news {
	margin-top: 15px;
	padding: 20px 0px 30px 30px;
	width: 410px;
	background-color: rgba(161,73,9,0.7);
	color: #FFFFFF;
}


#article {
	width: 370px;
	padding-bottom: 10px;
}

#article span.date {
	color: #411912;
}

#article span.title {
	font: bold 1.1em candara, sans-serif;
}

#article a {
	color: #FFFFFF;
	padding-right: 15px;
	background: url(../images/body/brown_arrow.png) no-repeat 100% 50%;
}

/* Évaluations */
#evaluations {
	float: right;
	padding: 20px 30px 30px 30px;
	width: 410px;
	background: rgba(0,0,0,0.7);
}

#evaluations a.all_evals {
	float: right;
	color: #FFFFFF;
	margin-top: 10px;
	padding-right: 15px;
	background: url(../images/body/brown_arrow.png) no-repeat 100% 50%;
	font: bold 0.7em candara, sans-serif;
	text-transform: uppercase;
}

#bottles div:first-child {
	border: 1px solid #858280;
	padding-bottom: 0px;
	margin-bottom: 15px;
}

#bottle img {
	display: block;
}

#bottle table {
	border-collapse: collapse;
	border-spacing: 0px;
}

#bottle table td {
	width: 50%;
}

#bottle td>a:first-of-type {
	font-size: 1.1em;
	font-weight: bold; 
}

#bottle {
	padding-bottom: 10px;
}

#bottle a {
	color: #E4651C;
	padding-right: 15px;
	background: url(../images/body/brown_arrow.png) no-repeat 100% 50%;
	display: inline;
}